

.main{
  display: grid;
  grid-row-gap:5px;
text-align:center
grid-template-colums: 20% 20% 20% 20% 20%
padding: 1px;
}

.item1 {
grid-column: 2/5;
}




.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 60px;
  padding: 20px;